.titleText {
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.titleText a {
  text-decoration: none;
  color: black !important;
}

.titleText:hover,
.titleText a:hover {
  color: #009900 !important;
}

.fullName {
  display: inline; /* Show full name by default */
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
