.container {
	margin: 0 auto;
	padding-top: 20px;
	margin-top: 20px;
}

.columns {
	columns: 3;
}

.image {
	width: 100%;
	height: auto;
	display: block;
	margin-top: 8px;
	object-fit: cover;
	border-radius: 4px;
}

.imageWrapper {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	margin-top: 8px;
}

@media only screen and (min-width:479px) and (max-width:768px) {
	.container {
		padding: 5px;
	}
	.columns {
		columns: 2;
	}
}

@media only screen and (max-width:479px) {
	.container {
		padding: 2px;
	}
	.columns {
		columns: 1;
	}
}
