/* body {
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
	padding: 8px 48px
}

h1 {
	font-family: lucida sans unicode, lucida grande, sans-serif;
	letter-spacing: .05em;
	font-weight: 500
} */